<div>
    <h1>Ecommerce Frutas & Verduras</h1>
    <div id="products">
        <ul id="products-list">
            {{#each products}}
            <li>
                <img src="{{this.thumbnails.[0]}}" alt="{{this.name}}">
                <h2>{{this.name}}</h2>
                <p> {{this.description}}</p>
                <p>Precio: ${{this.price}}</p>
                <p>Stock: {{this.stock}}</p>
                <button class="btn btn-primary" data-id="{{this.id}}">Agregar al carrito</button>
            </li>
            {{/each}}
        </ul>
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/home.js"></script>